# Flutter / Dart
.dart_tool/
build/
pubspec.lock  # root pubspec.lock (plugin lock file, optional to ignore)

# Example app
example/.dart_tool/
example/build/
example/pubspec.lock

# Misc / IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.log
*.swp
.DS_Store
